body, html {
    background-image: url("https://res.cloudinary.com/dv2nrlkn5/image/upload/v1563463585/Suomi-Seuran-uutiskirje-e1560326459204_llz6jx.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.topnav a {
    float: none;
    display: block;
    padding: 8px;
    /*background-color: black;*/
    overflow: hidden;
    text-align: center;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;}

li {
    float: none;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}